# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# IDE and editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit and logs
*.log

# OneDrive cache
*.lnk
