altair  
annotated-types  
anyio  
attrs  
backoff  
blinker  
cachetools  
certifi  
charset-normalizer  
click  
colorama  
distro  
dnspython  
dotenv  
gitdb  
GitPython  
greenlet  
groq  
grpcio  
h11  
h2  
hpack  
httpcore  
httpx  
hyperframe  
idna  
Jinja2  
jiter  
jsonpatch  
jsonpointer  
jsonschema  
jsonschema-specifications  
langchain  
langchain-core  
langchain-groq  
langchain-openai  
langchain-qdrant  
langgraph  
langgraph-checkpoint  
langgraph-prebuilt  
langgraph-sdk  
langsmith  
MarkupSafe  
mem0ai  
narwhals  
numpy  
openai  
orjson  
ormsgpack  
packaging  
pandas  
pillow  
portalocker  
posthog  
protobuf  
pyarrow  
pydantic  
pydantic_core  
pydeck  
pymongo  
python-dateutil  
python-dotenv  
pytz  
pywin32  
PyYAML  
qdrant-client  
referencing  
regex  
requests  
requests-toolbelt  
rpds-py  
six  
smmap  
sniffio  
SQLAlchemy  
streamlit  
tenacity  
tiktoken  
toml  
tornado  
tqdm  
typing-inspection  
typing_extensions  
tzdata  
urllib3  
uuid_utils  
uv  
watchdog  
xxhash  
zstandard  
